.rtl:not(.ltr), [dir=rtl]:not([dir=ltr]){
  .custom-control {
    position: relative;
    display: block;
    min-height: ($font-size-base * $line-height-base);
    padding-right: $custom-control-gutter + $custom-control-indicator-size;
    padding-left: 0px;
  }
  .custom-select {
    display: inline-block;
    width: 100%;
    height: $custom-select-height;
    padding: $custom-select-padding-y $custom-select-padding-x $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) ;
    font-weight: $custom-select-font-weight;
    line-height: $custom-select-line-height;
    color: $custom-select-color;
    vertical-align: middle;
    background: $custom-select-background;
    background-color: $custom-select-bg;
    border: $custom-select-border-width solid $custom-select-border-color;
  }
  .custom-control-label {
    &::before {
      right: -($custom-control-gutter + $custom-control-indicator-size);
    }
    &::after {
      right: -($custom-control-gutter + $custom-control-indicator-size);
    }
  }
}
