.rtl:not(.ltr), [dir=rtl]:not([dir=ltr]){
  .input-group {
    > .form-control,
    > .custom-select {
      &:not(:last-child) {
        @include border-left-radius(0);
        border-top-right-radius: $btn-border-radius-sm;
        border-bottom-right-radius: $btn-border-radius-sm;
      }
      &:not(:first-child) {
        @include border-right-radius(0);
        border-top-left-radius: $btn-border-radius-sm;
        border-bottom-left-radius: $btn-border-radius-sm;
      }
    }
  }
  .input-group > .input-group-prepend > .btn,
  .input-group > .input-group-prepend > .input-group-text,
  .input-group > .input-group-append:not(:last-child) > .btn,
  .input-group > .input-group-append:not(:last-child) > .input-group-text,
  .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    @include border-left-radius(0);
    border-top-right-radius: $btn-border-radius-sm;
    border-bottom-right-radius: $btn-border-radius-sm;
  }
  .input-group > .input-group-append > .btn,
  .input-group > .input-group-append > .input-group-text,
  .input-group > .input-group-prepend:not(:first-child) > .btn,
  .input-group > .input-group-prepend:not(:first-child) > .input-group-text,
  .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
  .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    @include border-right-radius(0);
    border-top-left-radius: $btn-border-radius-sm;
    border-bottom-left-radius: $btn-border-radius-sm;
  }
}
