.rtl:not(.ltr), [dir=rtl]:not([dir=ltr]){

  .navbar-brand {
    margin-left: $navbar-padding-x;

    @include hover-focus {
      text-decoration: none;
    }
  }


  .navbar-nav {
    padding-right: 0;
  }
}
